.players-container{
   
    width: 70%;
    margin:  0 auto;
     display: grid;
     grid-template-columns: repeat(2,1fr);
    &__card{
        
        color: rgba(0, 0, 0, 0.837);
        background-color: rgb(228, 228, 228);
        margin:2em 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        border-radius: 10px;
        ul{
            margin: 0 auto;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            border-radius: 10px;


            li{
                text-align: left;
                margin: 1em 0;
                letter-spacing: .07em;
                padding: 0 .5em;
                font-weight: 700;
                span{
                    font-weight: 500;
                    margin-left: .5em;
                }
                &:nth-child(1){
                    span{
                    font-weight: 700;
                    color: rgb(217, 48, 48);
                    }
                }
                &:nth-child(2){
                    span{
                    font-weight: 700;
                    color: rgb(217, 48, 48);;
                    }
                }
                // &:nth-child(3){
                //     span{
                //     font-weight: 700;
                //     color: rgb(48, 175, 217);;
                //     }
                // }
                // &:nth-child(4){
                //     span{
                //     font-weight: 700;
                //     color: rgb(225, 255, 27);;
                //     }
                // }
                // &:nth-child(5){
                //     span{
                //     font-weight: 700;
                //     color: rgb(217, 48, 48);;
                //     }
                // }
                &:nth-child(6){
                    span{
                    font-weight: 700;
                    color: rgb(186, 175, 26);;
                    }
                }

                &:nth-child(7){
                    span{
                    font-weight: 700;
                    color: rgb(16, 161, 62);;
                    }
                }
                &:nth-child(8){
                    span{
                    font-weight: 700;
                    color: rgb(16, 161, 62);;
                    }
                }
              
            }
        }
    }
}