.stats-container{
   width: 80%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 1em;
    &__card{
     
        ul{
            list-style: none;
        }
    }
}