@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.menu-container{
    padding: .7em 1em;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.225);

      &__logo{
        margin-left: 3em;
      }
    &__pages{
        ul{
            display: flex;
            gap: 2em;
            list-style: none;
            font-size: 1.5em;
        }
    }
}